.bg {
    background-image: url("//mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.center {
  display: flex;
  justify-content: center;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/